body {
               background-color: green;
               padding: 0px;
               margin: 0px;


}

h1 {
               padding: 0px;
               margin: 0px;

}
h2{
  background-color:blueviolet;
  text-align: center;
  margin: 0px  260px 0px 260px;
}

img {
  height: 120px;
  width: 100px;             
}



.road {
               margin: 0px;
               padding: 0px;
               background-color: black;
               height: 600px;
               width: 400px;
               border: dotted wheat;
               border-top: none;
               border-bottom: none;

}

.hide{
  display: none;
}
.car ,.animy{
height: 70px;
width: 50px;
background-color: red;
position: absolute;
bottom: 50px;

}

.gameArea{

  width: 400px;
  height: 100vh;
  background-color: #2d3436;
  margin: auto;
  position: relative;
}

.lines{

  width: 10px;
  height: 100px;
  background-color: wheat;
  position:absolute;
  margin-left: 195px;
}