body {

  background-image: url(template.jpg);
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: sans-serif;
}

.hide {
  display: none;
}

.car,
.enemy {
  position: absolute;
  bottom: 100px;
  margin: auto;
  width: 50px;
  height: 100px;
  background-color: white;
  background-image: url(carTr.png);
  background-size: cover;
  background-position: center;
}

.gameArea {

  background-color: #2d3436;
  width: 350px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  margin: auto;
  left: 35%;
  border: dotted wheat;
  border-top: none;
  border-bottom: none;
}

.line {
  position: absolute;
  height: 100px;
  width: 10px;
  margin-left: 195px;
  background-color: white;
}

.score {
  /* background-color: black;
  height: 70px;
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-family: fantasy; */

  position: absolute;
  top: 15px;
  left: 40px;
  background-color: #10ac84;
  width: 300px;
  /* height: 70px; */
  line-height: 70px;
  color: white;
  text-align: center;
  font-size: 1.5em;
  font-family: fantasy;
  box-shadow: 0 5px 5px #777;


}

.startScreen {

  /* text-align: center;
  border: 1px solid red;
  padding: 15px;
  margin: auto;
  width: 300px; */
  position: absolute;
  background-color: #ee5253;
  left: 50px;
  text-align: center;
  box-shadow: 0 5px 5px #777;
  top: 250px;
  left: 435px;
  z-index: 1;
  font-size: 1.5rem;
  width: 500px;
  height: 100px;


}

/* .road {
  margin: 0px;
  padding: 0px;
  background-color: black;
  height: 600px;
  width: 400px;


} */